/* *,*::after,::before {
        box-sizing: border-box;
} */
body {
        background-image: url("7285.jpg");
        background-repeat: no-repeat;
        background-size: cover ;
        background-attachment: fixed;
        font-family: sans-serif;
}
.container {
        width: 450px;
        margin: 200px auto;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        
}
.item-box{
        text-align: center;
        padding: 21px 0;
}
.item-color {
        display:inline-block;
        width: 6px;
        height:6px;
        background-color: grey;
        border-radius: 50%;
}
.item-color.active {
        background-color: black;
}
.payment {
     text-align:center;
     text-transform: uppercase;
     font-size: 25px;
     margin-bottom: 36px;
     letter-spacing: 1px;
     font-weight: bold;
 
}

.card-item {
        position: relative;
        display:block;
        padding: 31px 0 31px 105px;
        border-top: 1px solid rgb(189, 189, 189,0.3);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 30px;
        background-size: 50px;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
        text-decoration: none;
        color:#888;
        
}
.card-item:hover{
        background-color: rgb(221, 221, 221,0.4);
        
}
.card-item.mastercard {
        color: black;    
        background-image: url("../loops_2/mastercard.jpg");
        
}
.card-item.visa {
        background-image: url("../loops_2/visa.jpg");
        
}.card-item.maestro {
        background-image: url("../loops_2/maestro.svg");
}

.btn-next{
        width: 100%;
        padding: 25px 0;
        background-color: rgb(37, 113, 255);
        border-radius: 0 0px  5px 5px;
        color: #fff;
        border:none;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 15px;
        
}
.imgarrow{
        width: 18px;
        height: auto;
        vertical-align: text-bottom;
        margin-left: 10px;
}
.btn-next:active{
        transform: translatey(3px);
}                                                                         
                                                             
.card-item.act::before{
        position: absolute;
        content: "";
        display: block;
        width: 24px;
        height: 23px;
        background: url("../loops_2/check.svg");
        background-size: contain;
        right: 27px;
        top: 27px;
        
}
